USE [master]
GO
/****** Object:  Database [GSB]    Script Date: 06/03/2020 16:14:28 ******/
CREATE DATABASE [GSB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GSB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GSB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GSB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSB]
GO
/****** Object:  Table [dbo].[A_BESOIN]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[A_BESOIN](
	[CODE] [smallint] NOT NULL,
	[NUM] [smallint] NOT NULL,
	[ZONESTOCK_ID] [smallint] NOT NULL,
	[TYPECONTROLE_ID] [smallint] NOT NULL,
	[TEXTE] [varchar](128) NULL,
 CONSTRAINT [PK_A_BESOIN] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[NUM] ASC,
	[ZONESTOCK_ID] ASC,
	[TYPECONTROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTION]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTION](
	[ACTION_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRIPTIF] [varchar](128) NULL,
 CONSTRAINT [PK_ACTION] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AGENCE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENCE](
	[AGENCE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](30) NULL,
	[ADRESSE] [varchar](30) NULL,
	[CODEPOSTAL] [varchar](5) NULL,
	[VILLE] [varchar](25) NULL,
	[TEL] [varchar](10) NULL,
	[EMAIL] [varchar](35) NULL,
	[SITEWEB] [varchar](35) NULL,
	[TYPE] [varchar](25) NULL,
 CONSTRAINT [PK_AGENCE] PRIMARY KEY CLUSTERED 
(
	[AGENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ASSOCIATION]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASSOCIATION](
	[ASSOCIATION_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[PAYS_ID] [smallint] NOT NULL,
	[ID] [smallint] NOT NULL,
	[NOM] [varchar](30) NULL,
	[MISSION] [varchar](40) NULL,
 CONSTRAINT [PK_ASSOCIATION] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BATIMENT]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATIMENT](
	[CODE] [smallint] NOT NULL,
 CONSTRAINT [PK_BATIMENT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAMPAGNE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMPAGNE](
	[CAMAPGNE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[PUBLIC_ID] [smallint] NOT NULL,
	[ID] [smallint] NOT NULL,
	[INTITULE] [varchar](20) NULL,
	[OBJECTIF] [varchar](50) NULL,
	[DATEDEBUT] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
 CONSTRAINT [PK_CAMPAGNE] PRIMARY KEY CLUSTERED 
(
	[CAMAPGNE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[CATEGORIE_CODE] [varchar](3) NOT NULL,
	[NOM] [varchar](25) NULL,
 CONSTRAINT [PK_CATEGORIE] PRIMARY KEY CLUSTERED 
(
	[CATEGORIE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIEPRODUIT]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIEPRODUIT](
	[CATPRODUIT_ID] [smallint] NOT NULL,
	[NOM] [varchar](25) NULL,
 CONSTRAINT [PK_CATEGORIEPRODUIT] PRIMARY KEY CLUSTERED 
(
	[CATPRODUIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHOISIR]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOISIR](
	[PAYS_ID] [smallint] NOT NULL,
	[ANNEE] [datetime] NOT NULL,
	[ACTION_ID] [smallint] NOT NULL,
 CONSTRAINT [PK_CHOISIR] PRIMARY KEY CLUSTERED 
(
	[PAYS_ID] ASC,
	[ANNEE] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTENIR]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENIR](
	[CATEGORIE_CODE] [varchar](3) NOT NULL,
	[EVENEMENT_ID] [smallint] NOT NULL,
	[DATE] [datetime] NULL,
	[MESSAGE] [varchar](200) NULL,
 CONSTRAINT [PK_CONTENIR] PRIMARY KEY CLUSTERED 
(
	[CATEGORIE_CODE] ASC,
	[EVENEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTROLE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTROLE](
	[CONTROLE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ZONESTOCK_ID] [smallint] NOT NULL,
	[CODE] [smallint] NOT NULL,
	[NUM] [smallint] NOT NULL,
	[TYPECONTROLE_ID] [smallint] NOT NULL,
	[DATE] [datetime] NULL,
	[RESULTAT] [varchar](128) NULL,
	[MONTANT] [smallint] NULL,
 CONSTRAINT [PK_CONTROLE] PRIMARY KEY CLUSTERED 
(
	[CONTROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONVIER]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVIER](
	[EVENEMENT_ID] [smallint] NOT NULL,
	[ID] [smallint] NOT NULL,
 CONSTRAINT [PK_CONVIER] PRIMARY KEY CLUSTERED 
(
	[EVENEMENT_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURANT]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURANT](
	[COURANT_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](20) NULL,
	[DESCRIPTIF] [varchar](300) NULL,
 CONSTRAINT [PK_COURANT] PRIMARY KEY CLUSTERED 
(
	[COURANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATE](
	[ANNEE] [datetime] NOT NULL,
 CONSTRAINT [PK_DATE] PRIMARY KEY CLUSTERED 
(
	[ANNEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENTREPRISE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTREPRISE](
	[ENTREPRISE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](30) NULL,
	[ADRESSE] [varchar](30) NULL,
	[CODEPOSTAL] [char](5) NULL,
	[VILLE] [varchar](30) NULL,
	[MAIL] [varchar](35) NULL,
 CONSTRAINT [PK_ENTREPRISE] PRIMARY KEY CLUSTERED 
(
	[ENTREPRISE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ETAGE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAGE](
	[CODE] [smallint] NOT NULL,
	[NUM] [smallint] NOT NULL,
 CONSTRAINT [PK_ETAGE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ETRE_EN_RELATION]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETRE_EN_RELATION](
	[AGENCE_ID] [smallint] NOT NULL,
	[CAMAPGNE_ID] [smallint] NOT NULL,
 CONSTRAINT [PK_ETRE_EN_RELATION] PRIMARY KEY CLUSTERED 
(
	[AGENCE_ID] ASC,
	[CAMAPGNE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[EVENEMENT_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[CAMAPGNE_ID] [smallint] NOT NULL,
	[DATEDEBUT] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
	[THEME] [varchar](30) NULL,
	[VILLE] [varchar](20) NULL,
 CONSTRAINT [PK_EVENEMENT] PRIMARY KEY CLUSTERED 
(
	[EVENEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GERER]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GERER](
	[CONTROLE_ID] [smallint] NOT NULL,
	[ENTREPRISE_ID] [smallint] NOT NULL,
 CONSTRAINT [PK_GERER] PRIMARY KEY CLUSTERED 
(
	[CONTROLE_ID] ASC,
	[ENTREPRISE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARTENARIAT]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTENARIAT](
	[PARTENARIAT_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ASSOCIATION_ID] [smallint] NOT NULL,
	[ACTION_ID] [smallint] NOT NULL,
	[DATE] [datetime] NULL,
	[BUDGETREEL] [smallint] NULL,
	[BUDGEPREVISIONNEL] [smallint] NULL,
 CONSTRAINT [PK_PARTENARIAT] PRIMARY KEY CLUSTERED 
(
	[PARTENARIAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARTICIPER]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTICIPER](
	[EVENEMENT_ID] [smallint] NOT NULL,
	[ID] [smallint] NOT NULL,
	[CACHET] [smallint] NULL,
 CONSTRAINT [PK_PARTICIPER] PRIMARY KEY CLUSTERED 
(
	[EVENEMENT_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAYS]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYS](
	[PAYS_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](30) NULL,
 CONSTRAINT [PK_PAYS] PRIMARY KEY CLUSTERED 
(
	[PAYS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONNE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONNE](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[CATEGORIE_CODE] [varchar](3) NULL,
	[COURANT_ID] [smallint] NULL,
	[NOM] [varchar](30) NULL,
	[PRENOM] [varchar](30) NULL,
	[ADRESSE] [varchar](50) NULL,
	[CODEPOSTAL] [char](5) NULL,
	[TEL] [varchar](10) NULL,
	[VILLE] [varchar](30) NULL,
	[SITEWEB] [varchar](50) NULL,
	[TYPEPERSONNE] [varchar](5) NULL,
 CONSTRAINT [PK_PERSONNE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLIC]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLIC](
	[PUBLIC_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [varchar](20) NULL,
 CONSTRAINT [PK_PUBLIC] PRIMARY KEY CLUSTERED 
(
	[PUBLIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPECIALISER]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALISER](
	[TYPECONTROLE_ID] [smallint] NOT NULL,
	[ENTREPRISE_ID] [smallint] NOT NULL,
 CONSTRAINT [PK_SPECIALISER] PRIMARY KEY CLUSTERED 
(
	[TYPECONTROLE_ID] ASC,
	[ENTREPRISE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPEDECONTROLE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPEDECONTROLE](
	[TYPECONTROLE_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](25) NULL,
 CONSTRAINT [PK_TYPEDECONTROLE] PRIMARY KEY CLUSTERED 
(
	[TYPECONTROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZONESTOCKAGE]    Script Date: 06/03/2020 16:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZONESTOCKAGE](
	[CODE] [smallint] NOT NULL,
	[NUM] [smallint] NOT NULL,
	[ZONESTOCK_ID] [smallint] NOT NULL,
	[CATPRODUIT_ID] [smallint] NOT NULL,
	[NOM] [varchar](30) NULL,
	[ADRESSE] [varchar](30) NULL,
	[CODEPOSTALE] [char](5) NULL,
	[VILLE] [varchar](30) NULL,
 CONSTRAINT [PK_ZONESTOCKAGE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC,
	[NUM] ASC,
	[ZONESTOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AGENCE] ON 

INSERT [dbo].[AGENCE] ([AGENCE_ID], [NOM], [ADRESSE], [CODEPOSTAL], [VILLE], [TEL], [EMAIL], [SITEWEB], [TYPE]) VALUES (1, N'Accès Presse', N'14 boulevard des givrés', N'17555', N'Marseille', N'0442589745', N'accès.presse@gmail.com', N'http://www.accespresse.fr', N'stratégie information')
INSERT [dbo].[AGENCE] ([AGENCE_ID], [NOM], [ADRESSE], [CODEPOSTAL], [VILLE], [TEL], [EMAIL], [SITEWEB], [TYPE]) VALUES (2, N'AcomZ', N'15 rue des bois', N'15456', N'Lyon', N'0490110728', N'ACOMZ@yahoo.com', N'https://acomz.net', N'événement artistique')
INSERT [dbo].[AGENCE] ([AGENCE_ID], [NOM], [ADRESSE], [CODEPOSTAL], [VILLE], [TEL], [EMAIL], [SITEWEB], [TYPE]) VALUES (3, N'AGCI', N'18 chemin de Gerard', N'21005', N'Cabries', N'0418754612', N'AGCI@gmail.com', N'http://www.agci.fr', N'événement artistique')
SET IDENTITY_INSERT [dbo].[AGENCE] OFF
SET IDENTITY_INSERT [dbo].[CAMPAGNE] ON 

INSERT [dbo].[CAMPAGNE] ([CAMAPGNE_ID], [PUBLIC_ID], [ID], [INTITULE], [OBJECTIF], [DATEDEBUT], [DATEFIN]) VALUES (11, 1, 17, N'Hemorio', N'Encourager le don du sang', CAST(N'1905-06-23 00:00:00.000' AS DateTime), CAST(N'1905-06-30 00:00:00.000' AS DateTime))
INSERT [dbo].[CAMPAGNE] ([CAMAPGNE_ID], [PUBLIC_ID], [ID], [INTITULE], [OBJECTIF], [DATEDEBUT], [DATEFIN]) VALUES (12, 2, 18, N'GEOlino', N'Dangers du RF', CAST(N'1905-06-27 00:00:00.000' AS DateTime), CAST(N'1905-06-09 00:00:00.000' AS DateTime))
INSERT [dbo].[CAMPAGNE] ([CAMAPGNE_ID], [PUBLIC_ID], [ID], [INTITULE], [OBJECTIF], [DATEDEBUT], [DATEFIN]) VALUES (13, 3, 20, N'WWF', N'Proteger nature', CAST(N'1905-06-24 00:00:00.000' AS DateTime), CAST(N'1905-06-19 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CAMPAGNE] OFF
INSERT [dbo].[CATEGORIE] ([CATEGORIE_CODE], [NOM]) VALUES (N'DEP', N'DEPUTE')
INSERT [dbo].[CATEGORIE] ([CATEGORIE_CODE], [NOM]) VALUES (N'JOU', N'JOURNALISTE')
INSERT [dbo].[CATEGORIE] ([CATEGORIE_CODE], [NOM]) VALUES (N'MED', N'MEDECIN')
INSERT [dbo].[CONVIER] ([EVENEMENT_ID], [ID]) VALUES (1, 1)
INSERT [dbo].[CONVIER] ([EVENEMENT_ID], [ID]) VALUES (2, 5)
INSERT [dbo].[CONVIER] ([EVENEMENT_ID], [ID]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[COURANT] ON 

INSERT [dbo].[COURANT] ([COURANT_ID], [NOM], [DESCRIPTIF]) VALUES (1, N'Art brut', N'Il désigne les oeuvres faites par des personnes qui vivent à l’écart de la société, dans les hôpitaux psychiatriques. Utilisation de techniques et des matériaux variés : terre, ciment, colle, ailes de papillon, émail, chiffons')
INSERT [dbo].[COURANT] ([COURANT_ID], [NOM], [DESCRIPTIF]) VALUES (2, N'Action painting', N'Cette attitude artistique privilégie acte physique de peindre. Les suggestions figuratives sont écartées. Les artistes réalisent ces oeuvres abstraites en peignant, égouttant ou projetant de la couleur sur la toile')
INSERT [dbo].[COURANT] ([COURANT_ID], [NOM], [DESCRIPTIF]) VALUES (3, N'Optical art', N'Mouvement artistique né dans les années 1960 qui cherche à créer des effets d’optique en jouant sur le regard du spectateur. Il se caractérise par la superposition de lignes ou de trames, par un mouvement réel dans l’oeuvre')
SET IDENTITY_INSERT [dbo].[COURANT] OFF
INSERT [dbo].[ETRE_EN_RELATION] ([AGENCE_ID], [CAMAPGNE_ID]) VALUES (1, 11)
INSERT [dbo].[ETRE_EN_RELATION] ([AGENCE_ID], [CAMAPGNE_ID]) VALUES (2, 16)
INSERT [dbo].[ETRE_EN_RELATION] ([AGENCE_ID], [CAMAPGNE_ID]) VALUES (3, 11)
SET IDENTITY_INSERT [dbo].[EVENEMENT] ON 

INSERT [dbo].[EVENEMENT] ([EVENEMENT_ID], [CAMAPGNE_ID], [DATEDEBUT], [DATEFIN], [THEME], [VILLE]) VALUES (1, 11, CAST(N'1905-07-01 00:00:00.000' AS DateTime), CAST(N'1905-06-28 00:00:00.000' AS DateTime), N'Emballage monument', N'Monaco')
INSERT [dbo].[EVENEMENT] ([EVENEMENT_ID], [CAMAPGNE_ID], [DATEDEBUT], [DATEFIN], [THEME], [VILLE]) VALUES (2, 12, CAST(N'1905-06-24 00:00:00.000' AS DateTime), CAST(N'1905-06-23 00:00:00.000' AS DateTime), N'Réalisation oeuvre', N'Lyon')
INSERT [dbo].[EVENEMENT] ([EVENEMENT_ID], [CAMAPGNE_ID], [DATEDEBUT], [DATEFIN], [THEME], [VILLE]) VALUES (3, 13, CAST(N'1905-07-08 00:00:00.000' AS DateTime), CAST(N'1905-07-07 00:00:00.000' AS DateTime), N'Realisation toile', N'Starsbourg')
SET IDENTITY_INSERT [dbo].[EVENEMENT] OFF
INSERT [dbo].[PARTICIPER] ([EVENEMENT_ID], [ID], [CACHET]) VALUES (1, 11, 130)
INSERT [dbo].[PARTICIPER] ([EVENEMENT_ID], [ID], [CACHET]) VALUES (1, 12, 40)
INSERT [dbo].[PARTICIPER] ([EVENEMENT_ID], [ID], [CACHET]) VALUES (2, 13, 10)
SET IDENTITY_INSERT [dbo].[PERSONNE] ON 

INSERT [dbo].[PERSONNE] ([ID], [CATEGORIE_CODE], [COURANT_ID], [NOM], [PRENOM], [ADRESSE], [CODEPOSTAL], [TEL], [VILLE], [SITEWEB], [TYPEPERSONNE]) VALUES (1, N'DEP', NULL, N'Lolita', N'Ducha', N'25 rue des bois', N'55680', N'0655748955', N'Lyon', NULL, N'VIP')
INSERT [dbo].[PERSONNE] ([ID], [CATEGORIE_CODE], [COURANT_ID], [NOM], [PRENOM], [ADRESSE], [CODEPOSTAL], [TEL], [VILLE], [SITEWEB], [TYPEPERSONNE]) VALUES (2, N'MED', NULL, N'Margaux', N'Salia', N'27 rue de mort', N'15489', N'0653048955', N'Marseille', NULL, N'VIP')
INSERT [dbo].[PERSONNE] ([ID], [CATEGORIE_CODE], [COURANT_ID], [NOM], [PRENOM], [ADRESSE], [CODEPOSTAL], [TEL], [VILLE], [SITEWEB], [TYPEPERSONNE]) VALUES (3, N'MED', NULL, N'Demede', N'Michel', N'38 boulevard des trottoir', N'10152', N'0655741578', N'Nimes', NULL, N'VIP')
SET IDENTITY_INSERT [dbo].[PERSONNE] OFF
SET IDENTITY_INSERT [dbo].[PUBLIC] ON 

INSERT [dbo].[PUBLIC] ([PUBLIC_ID], [LIBELLE]) VALUES (1, N'enfants')
INSERT [dbo].[PUBLIC] ([PUBLIC_ID], [LIBELLE]) VALUES (2, N'adolescents')
INSERT [dbo].[PUBLIC] ([PUBLIC_ID], [LIBELLE]) VALUES (3, N'jeunesAdultes')
SET IDENTITY_INSERT [dbo].[PUBLIC] OFF
ALTER TABLE [dbo].[A_BESOIN]  WITH CHECK ADD  CONSTRAINT [FK_A_BESOIN_TYPEDECONTROLE] FOREIGN KEY([TYPECONTROLE_ID])
REFERENCES [dbo].[TYPEDECONTROLE] ([TYPECONTROLE_ID])
GO
ALTER TABLE [dbo].[A_BESOIN] CHECK CONSTRAINT [FK_A_BESOIN_TYPEDECONTROLE]
GO
ALTER TABLE [dbo].[A_BESOIN]  WITH CHECK ADD  CONSTRAINT [FK_A_BESOIN_ZONESTOCKAGE] FOREIGN KEY([CODE], [NUM], [ZONESTOCK_ID])
REFERENCES [dbo].[ZONESTOCKAGE] ([CODE], [NUM], [ZONESTOCK_ID])
GO
ALTER TABLE [dbo].[A_BESOIN] CHECK CONSTRAINT [FK_A_BESOIN_ZONESTOCKAGE]
GO
ALTER TABLE [dbo].[ASSOCIATION]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIATION_PAYS] FOREIGN KEY([PAYS_ID])
REFERENCES [dbo].[PAYS] ([PAYS_ID])
GO
ALTER TABLE [dbo].[ASSOCIATION] CHECK CONSTRAINT [FK_ASSOCIATION_PAYS]
GO
ALTER TABLE [dbo].[ASSOCIATION]  WITH CHECK ADD  CONSTRAINT [FK_ASSOCIATION_PERSONNE] FOREIGN KEY([ID])
REFERENCES [dbo].[PERSONNE] ([ID])
GO
ALTER TABLE [dbo].[ASSOCIATION] CHECK CONSTRAINT [FK_ASSOCIATION_PERSONNE]
GO
ALTER TABLE [dbo].[CAMPAGNE]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAGNE_PERSONNE] FOREIGN KEY([ID])
REFERENCES [dbo].[PERSONNE] ([ID])
GO
ALTER TABLE [dbo].[CAMPAGNE] CHECK CONSTRAINT [FK_CAMPAGNE_PERSONNE]
GO
ALTER TABLE [dbo].[CAMPAGNE]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAGNE_PUBLIC] FOREIGN KEY([PUBLIC_ID])
REFERENCES [dbo].[PUBLIC] ([PUBLIC_ID])
GO
ALTER TABLE [dbo].[CAMPAGNE] CHECK CONSTRAINT [FK_CAMPAGNE_PUBLIC]
GO
ALTER TABLE [dbo].[CHOISIR]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIR_ACTION] FOREIGN KEY([ACTION_ID])
REFERENCES [dbo].[ACTION] ([ACTION_ID])
GO
ALTER TABLE [dbo].[CHOISIR] CHECK CONSTRAINT [FK_CHOISIR_ACTION]
GO
ALTER TABLE [dbo].[CHOISIR]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIR_DATE] FOREIGN KEY([ANNEE])
REFERENCES [dbo].[DATE] ([ANNEE])
GO
ALTER TABLE [dbo].[CHOISIR] CHECK CONSTRAINT [FK_CHOISIR_DATE]
GO
ALTER TABLE [dbo].[CHOISIR]  WITH CHECK ADD  CONSTRAINT [FK_CHOISIR_PAYS] FOREIGN KEY([PAYS_ID])
REFERENCES [dbo].[PAYS] ([PAYS_ID])
GO
ALTER TABLE [dbo].[CHOISIR] CHECK CONSTRAINT [FK_CHOISIR_PAYS]
GO
ALTER TABLE [dbo].[CONTENIR]  WITH CHECK ADD  CONSTRAINT [FK_CONTENIR_CATEGORIE] FOREIGN KEY([CATEGORIE_CODE])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIE_CODE])
GO
ALTER TABLE [dbo].[CONTENIR] CHECK CONSTRAINT [FK_CONTENIR_CATEGORIE]
GO
ALTER TABLE [dbo].[CONTENIR]  WITH CHECK ADD  CONSTRAINT [FK_CONTENIR_EVENEMENT] FOREIGN KEY([EVENEMENT_ID])
REFERENCES [dbo].[EVENEMENT] ([EVENEMENT_ID])
GO
ALTER TABLE [dbo].[CONTENIR] CHECK CONSTRAINT [FK_CONTENIR_EVENEMENT]
GO
ALTER TABLE [dbo].[CONTROLE]  WITH CHECK ADD  CONSTRAINT [FK_CONTROLE_TYPEDECONTROLE] FOREIGN KEY([TYPECONTROLE_ID])
REFERENCES [dbo].[TYPEDECONTROLE] ([TYPECONTROLE_ID])
GO
ALTER TABLE [dbo].[CONTROLE] CHECK CONSTRAINT [FK_CONTROLE_TYPEDECONTROLE]
GO
ALTER TABLE [dbo].[CONTROLE]  WITH CHECK ADD  CONSTRAINT [FK_CONTROLE_ZONESTOCKAGE] FOREIGN KEY([CODE], [NUM], [ZONESTOCK_ID])
REFERENCES [dbo].[ZONESTOCKAGE] ([CODE], [NUM], [ZONESTOCK_ID])
GO
ALTER TABLE [dbo].[CONTROLE] CHECK CONSTRAINT [FK_CONTROLE_ZONESTOCKAGE]
GO
ALTER TABLE [dbo].[CONVIER]  WITH CHECK ADD  CONSTRAINT [FK_CONVIER_EVENEMENT] FOREIGN KEY([EVENEMENT_ID])
REFERENCES [dbo].[EVENEMENT] ([EVENEMENT_ID])
GO
ALTER TABLE [dbo].[CONVIER] CHECK CONSTRAINT [FK_CONVIER_EVENEMENT]
GO
ALTER TABLE [dbo].[CONVIER]  WITH CHECK ADD  CONSTRAINT [FK_CONVIER_PERSONNE] FOREIGN KEY([ID])
REFERENCES [dbo].[PERSONNE] ([ID])
GO
ALTER TABLE [dbo].[CONVIER] CHECK CONSTRAINT [FK_CONVIER_PERSONNE]
GO
ALTER TABLE [dbo].[ETAGE]  WITH CHECK ADD  CONSTRAINT [FK_ETAGE_BATIMENT] FOREIGN KEY([CODE])
REFERENCES [dbo].[BATIMENT] ([CODE])
GO
ALTER TABLE [dbo].[ETAGE] CHECK CONSTRAINT [FK_ETAGE_BATIMENT]
GO
ALTER TABLE [dbo].[ETRE_EN_RELATION]  WITH CHECK ADD  CONSTRAINT [FK_ETRE_EN_RELATION_AGENCE] FOREIGN KEY([AGENCE_ID])
REFERENCES [dbo].[AGENCE] ([AGENCE_ID])
GO
ALTER TABLE [dbo].[ETRE_EN_RELATION] CHECK CONSTRAINT [FK_ETRE_EN_RELATION_AGENCE]
GO
ALTER TABLE [dbo].[ETRE_EN_RELATION]  WITH CHECK ADD  CONSTRAINT [FK_ETRE_EN_RELATION_CAMPAGNE] FOREIGN KEY([CAMAPGNE_ID])
REFERENCES [dbo].[CAMPAGNE] ([CAMAPGNE_ID])
GO
ALTER TABLE [dbo].[ETRE_EN_RELATION] CHECK CONSTRAINT [FK_ETRE_EN_RELATION_CAMPAGNE]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EVENEMENT_CAMPAGNE] FOREIGN KEY([CAMAPGNE_ID])
REFERENCES [dbo].[CAMPAGNE] ([CAMAPGNE_ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_EVENEMENT_CAMPAGNE]
GO
ALTER TABLE [dbo].[GERER]  WITH CHECK ADD  CONSTRAINT [FK_GERER_CONTROLE] FOREIGN KEY([CONTROLE_ID])
REFERENCES [dbo].[CONTROLE] ([CONTROLE_ID])
GO
ALTER TABLE [dbo].[GERER] CHECK CONSTRAINT [FK_GERER_CONTROLE]
GO
ALTER TABLE [dbo].[GERER]  WITH CHECK ADD  CONSTRAINT [FK_GERER_ENTREPRISE] FOREIGN KEY([ENTREPRISE_ID])
REFERENCES [dbo].[ENTREPRISE] ([ENTREPRISE_ID])
GO
ALTER TABLE [dbo].[GERER] CHECK CONSTRAINT [FK_GERER_ENTREPRISE]
GO
ALTER TABLE [dbo].[PARTENARIAT]  WITH CHECK ADD  CONSTRAINT [FK_PARTENARIAT_ACTION] FOREIGN KEY([ACTION_ID])
REFERENCES [dbo].[ACTION] ([ACTION_ID])
GO
ALTER TABLE [dbo].[PARTENARIAT] CHECK CONSTRAINT [FK_PARTENARIAT_ACTION]
GO
ALTER TABLE [dbo].[PARTENARIAT]  WITH CHECK ADD  CONSTRAINT [FK_PARTENARIAT_ASSOCIATION] FOREIGN KEY([ASSOCIATION_ID])
REFERENCES [dbo].[ASSOCIATION] ([ASSOCIATION_ID])
GO
ALTER TABLE [dbo].[PARTENARIAT] CHECK CONSTRAINT [FK_PARTENARIAT_ASSOCIATION]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPER_EVENEMENT] FOREIGN KEY([EVENEMENT_ID])
REFERENCES [dbo].[EVENEMENT] ([EVENEMENT_ID])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_PARTICIPER_EVENEMENT]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_PARTICIPER_PERSONNE] FOREIGN KEY([ID])
REFERENCES [dbo].[PERSONNE] ([ID])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_PARTICIPER_PERSONNE]
GO
ALTER TABLE [dbo].[PERSONNE]  WITH CHECK ADD  CONSTRAINT [FK_PERSONNE_CATEGORIE] FOREIGN KEY([CATEGORIE_CODE])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIE_CODE])
GO
ALTER TABLE [dbo].[PERSONNE] CHECK CONSTRAINT [FK_PERSONNE_CATEGORIE]
GO
ALTER TABLE [dbo].[PERSONNE]  WITH CHECK ADD  CONSTRAINT [FK_PERSONNE_COURANT] FOREIGN KEY([COURANT_ID])
REFERENCES [dbo].[COURANT] ([COURANT_ID])
GO
ALTER TABLE [dbo].[PERSONNE] CHECK CONSTRAINT [FK_PERSONNE_COURANT]
GO
ALTER TABLE [dbo].[SPECIALISER]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALISER_ENTREPRISE] FOREIGN KEY([ENTREPRISE_ID])
REFERENCES [dbo].[ENTREPRISE] ([ENTREPRISE_ID])
GO
ALTER TABLE [dbo].[SPECIALISER] CHECK CONSTRAINT [FK_SPECIALISER_ENTREPRISE]
GO
ALTER TABLE [dbo].[SPECIALISER]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALISER_TYPEDECONTROLE] FOREIGN KEY([TYPECONTROLE_ID])
REFERENCES [dbo].[TYPEDECONTROLE] ([TYPECONTROLE_ID])
GO
ALTER TABLE [dbo].[SPECIALISER] CHECK CONSTRAINT [FK_SPECIALISER_TYPEDECONTROLE]
GO
ALTER TABLE [dbo].[ZONESTOCKAGE]  WITH CHECK ADD  CONSTRAINT [FK_ZONESTOCKAGE_CATEGORIEPRODUIT] FOREIGN KEY([CATPRODUIT_ID])
REFERENCES [dbo].[CATEGORIEPRODUIT] ([CATPRODUIT_ID])
GO
ALTER TABLE [dbo].[ZONESTOCKAGE] CHECK CONSTRAINT [FK_ZONESTOCKAGE_CATEGORIEPRODUIT]
GO
ALTER TABLE [dbo].[ZONESTOCKAGE]  WITH CHECK ADD  CONSTRAINT [FK_ZONESTOCKAGE_ETAGE] FOREIGN KEY([CODE], [NUM])
REFERENCES [dbo].[ETAGE] ([CODE], [NUM])
GO
ALTER TABLE [dbo].[ZONESTOCKAGE] CHECK CONSTRAINT [FK_ZONESTOCKAGE_ETAGE]
GO
USE [master]
GO
